/* PT Serif */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: 'Roboto', 'sans serif';
  background-color: #F4F4EF;
}




.pt {
  font-family: 'PT serif', 'sans serif';
}

.rb {
  font-family: 'Roboto', 'sans serif';
}

.bubble-transition {
  transition: transform 0.7s ease-in-out;
}

.bubble-transition:hover {
  transform: translate(10px,20px);
  cursor: pointer;
}

.bubble-transition-left:hover {
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
  transform:translateX(25px);
}